@model IEnumerable<EquiposElectronicosAzure.Models.equiposdb>

@{
    ViewBag.Title = "Tienda de Electrodomésticos";
}

<br />
<br />
<h1> Tienda de electrodomésticos nuevos y usados</h1>
<h3 class="display-4"><strong>Variedad de equipos electrodomésticos</strong></h3>
<br />


